#root {
  display: flex;
  margin: 0px;
  padding: 0px .5rem;
  justify-content: center;
  background-image: url("../src/assets/weather01.jpg");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  
}
body{
  margin: 0px;
  width: 100vw;
  height: 100vh;
  /* filter: blur(-100px); */

}
