.WeatherApp{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.429);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12)
}
.weatherHead{
    font-family: 'Smooch Sans', sans-serif;
}